# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

/doc/

# macOS
.DS_Store

# LaTeX auxiliary files
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

# Backup files
*~
*.bak
*.swp
*.swo